#FutureStateDatePopup {
	display: none;
	position: absolute;
	top: -60px;
	height: 60px;
	width: 280px;
	left: 200px;
	background-color: white;
	border: 1px solid black;
	z-index: 100;
}

#FutureStateDatePopup .popupdatetime {
	float: left;
	margin: 5px;
}

#FutureStateDate_Date-calendar {
	top: -180px;
}

#FutureStateDate_Time-dropdowntime {
	top: -245px;
}

#FutureStateGoLink {
	float: left;
	display: block;
	color: black !important;
	margin: 5px;
	font-size: 14px !important;
	border: none !important;
	float: right;
}

#FutureStateDatePopup a.close {
	color: blue;
	text-align: right;
	width: 80%;
	border: none !important;
	cursor: pointer;
}
