#FutureStateDatePopup {	
	display: none;
	position: absolute;
	bottom: 25px;
	left: 200px;
	padding: 5px;
	background-color: white;
	border: 1px solid black;
	z-index: 100;
}
#FutureStateDatePopup > * {
	display: inline-block;
	vertical-align: middle;
}
#FutureStateDatePopup #FutureStateDate {
	float: left;
	margin-top: 0;
}
#FutureStateDatePopup label {
	display: none;
}
#FutureStateDatePopup .middleColumn {
	width: auto;
	margin: 0;
	background: none;
}
#FutureStateDatePopup input,
#FutureStateDatePopup select {
	width: 8em;
}
#FutureStateDatePopup .date, 
#FutureStateDatePopup .time {
	float: left;
	margin-right: 5px;
}
#FutureStateDatePopup a:link,
#FutureStateDatePopup a:hover,
#FutureStateDatePopup a:visited {
	color: black;
}
#bottom {
	z-index:60;
}
div.time-picker {
	width: 6em;
	/* Unfortunately the time picker library doesn't reposition based on window constraints */
	bottom: 50px !important;
	top: auto !important;
}